@tailwind base;
@tailwind components;
@tailwind utilities;

/*Fuentes desde ./fonts/poppins*/
@font-face {
    font-family: 'Poppins-bold';
    font-style:normal;
    font-weight: 400;
    src: url('../assets/fonts/GerTT/GerTTBold.otf') format('truetype');
  }

    @font-face {
        font-family: 'Poppins-semibold';
        font-style:normal;
        font-weight: 400;
        src: url('../assets/fonts/GerTT/GerTTMedium.otf') format('truetype');
    }

    @font-face {
      font-family: 'GerTT-regular';
      font-style: normal;
      font-weight: normal; 
      src: url('../assets/fonts/GerTT/GerTTRegular.otf') format('truetype');
    }
    
    @font-face {
      font-family: 'GerTT-Medium';
      font-style: normal;
      font-weight: 500; 
      src: url('../assets/fonts/GerTT/GerTTMedium.otf') format('truetype');
    }
    
    @font-face {
      font-family: 'GerTT-Bold';
      font-style: normal;
      font-weight: bold; 
      src: url('../assets/fonts/GerTT/GerTTBold.otf') format('truetype');
    }

  html, body {
    overflow-x: hidden;
  }
  
  .confirm-modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .confirm-modal-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    width: 80%;
  }
  .confirm-modal-content > * + * {
    margin: 0.5rem 0;
  }
  .confirm-modal-content h1 {
    font-size: 1.375rem;
  }

  .flip-clock__slot{
    font-family: 'GerTT-medium';
  }

  /* Color de la barra de desplazamiento */
  ::-webkit-scrollbar {
    width: 10px;
    background: #3f3f3f;
  }
  ::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fffefe;
  }
  

  /* Pantallas grandes */
@media (min-width: 1500px) {
}

/* PC */
@media (min-width: 992px) and (max-width: 1499px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Mobile */
@media (max-width: 767px) {

  .confirm-modal-content {
    width: 95%;
  }
}
